.centro{
    width: 100%;
    text-align: center;
    align-content: center;
}
.centrar{
    display: flex;
  justify-content: center;
  align-items: center;
}
.centrar2{
  justify-content: center;
  align-items: center;
}
.alargado{
    width: 100%;
}

.titulo_contacto{
    color:black;
}

.modal_color{
    background-color: #007bff;
}

.salto{
    margin: 1em;
}

.m-0{
    margin:0;
}

